extends layout

block content
  h1= title
  p To search for image, pass query string like this: "http://app.com/search/%your query%?offset=%optional offset%"
  p To view recent queries, go here: "http://app.com/recent"